<ion-header>
  <ion-navbar>
    <ion-title>Lista de Endereços</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item-sliding  *ngFor="let e of enderecos">
      <ion-item>
        <ion-avatar item-start>
            <ion-icon  *ngIf="e.fotoBase64 == '' || e.fotoBase64 == null" name="home" item-right></ion-icon>              
            <img   *ngIf="e.fotoBase64 != '' || e.fotoBase64 != null" [src]="e.fotoBase64" item-right>              
        </ion-avatar>
        <h2><strong>Rua: </strong>{{e.rua}}, {{e.numero}}</h2>
        <h3><strong>Cidade/Estado: </strong>{{e.cidade}} - {{e.estado}}</h3>
        <h4><strong>Complemento: </strong>{{e.complemento}}</h4>
        <small><strong>Localização: </strong>{{e.localizacao.latitude}},{{e.localizacao.longitude}}</small>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="primary" (click)="editar(e.id)">
          <ion-icon name="arrow-forward" ></ion-icon>
          Editar
        </button>
        <button ion-button color="danger" (click)="deletar(e.id)">
          <ion-icon name="trash"></ion-icon>
          Excluir
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>